
<h1><%= @board.name %> - <%= @list.name %></h1>
<hr />
<p><%= @list.name %></p>
<%= link_to 'View Tasks', list_tasks_path(@list) %>
<br />
<%= link_to 'Edit List', edit_board_list_path(@board, @list) %>
<br />
<%= link_to 'Delete List', [@board, @list], method: :delete %>
<br />
<%= link_to 'Back To Lists', board_lists_path(@board) %>


