<h1><%= @list.name %> - <%= @task.name %></h1>
<hr />
<p><%= @task.name %></p>
<br />
<%= link_to 'Edit Task', edit_list_task_path( @list, @task) %>
<%= link_to 'Delete Task', [@list, @task], method: :delete %>
<%= link_to 'Back To Lists', list_tasks_path(@list) %>


