<h1><%= @list.name %>-List -- <%= @task.name %>-Task</h1>
<hr />
<p><%= @task.name %></p>
<br />
<%= link_to 'Edit Task', edit_list_task_path( @list, @task) %>
<br />
<%= link_to 'Delete Task', [@list, @task], method: :delete %>
<br />
<%= link_to 'Back To Tasks', list_tasks_path(@list) %>



